@font-face {
    font-family: Bungee;
    src: url('/fonts/Bungee-Regular.ttf');
}

body {
    background-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #222;
    margin: 0px;
}

header,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 64px;
    margin-bottom: 64px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.grid {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

h1 {
    font-family: Bungee, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0px;
    margin-bottom: 2vw;
    font-size: clamp(4rem, 8vw, 8rem);
    line-height: clamp(4rem, 8vw, 8rem);
    letter-spacing: -0.05em;
}

h2 {
    font-size: clamp(16px, 2vw, 24px);
    line-height: 24px;
    font-weight: 500;
    margin: 0px;
}

.thumbnail {
    background-color: #F6F6F6;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    width: 100%;
    min-width: 0;
}

.thumbnail-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1);
    transform-origin: center center;

}

@media (hover: hover) {
    .thumbnail:hover .thumbnail-image {
        transform: scale(1.1);
    }
}